{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSpacing": true,
    "endOfLine": "lf",
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "arrowParents": "always"
}